.scroll-indicator {
  display: flex;
  position: fixed;
  right: 5%;
  bottom: 15%;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  user-select: none;
}

.scroll-indicator-item {
  width: 7px;
  height: 7px;
  background-color: #000;
  transition: all 0.2s;
  cursor: pointer;
  transform: rotate(45deg); // Convierte el elemento en un rombo

  // Añade un efecto de "hover"
  &:hover {
    background-color: #666;
  }
}

.scroll-indicator-item.active {
  width: 9px;
  height: 9px;
  background-color: transparent;
  border: 1.75px solid #000; // Añade un borde en lugar de un relleno
  transform: rotate(0); // Devuelve el elemento a un cuadrado

  // Añade un efecto de "hover"
  &:hover {
    border-color: #666;
  }
}

.scroll-indicator--hidden {
    display: none;
  }
  