.skills {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 12rem;
  min-height: 100vh;
  position: relative;
}

.skills-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.skill-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.skill-name {
  font-size: 1rem;
  margin-top: 1rem;
}
