.skills {
  padding: 2rem;
  max-width: 50%;
  margin: 0 auto;
  padding-top: 12rem;
  min-height: 100vh;
  position: relative;
}

.skills-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  // background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 10px;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s, transform 1s;
  svg {
    height: 85px;
  }
}

.skill-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.skill-name {
  color: #242424;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
}
